<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @user.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @user.data_nascimento %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @user.telefone %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @user.cpf %>
</p>

<p>
  <strong>Perfil:</strong>
  <%= @user.perfil %>
</p>

<p>
  <strong>Situacao:</strong>
  <%= @user.situacao %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @user.endereco %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @user.complemento %>
</p>

<p>
  <strong>Observacoes:</strong>
  <%= @user.observacoes %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
